body {
    font-family: Arial, sans-serif;
    background-color: rgb(46, 73, 142);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: auto;
}

h1 {
    color: #fff;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#galeria img {
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
